{
    "confirm_backup":"false",
    "confirm_backup_address":"https://mysite.com/confirm_backp.php",
    "confirm_backup_password":"password for accessing the php file",
    "confirm_backup_email" : "An email address to send the backup confirmation to"
}